/* Colors */

:root {
    --background-primary-color: #ffffff;
    --background-primary-color: #f5f5f5;
    --background-primary-color: #000000;

    --text-primary-color: #222222;
    --text-seconday-color: #FFFFFF;

    --primary-color: #B81515;
    --seconday-color: #8F0101;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}