/* Colors */

:root {
    --background-primary-color: #ffffff;
    --background-primary-color: #f5f5f5;
    --background-primary-color: #000000;

    --text-primary-color: #222222;
    --text-seconday-color: #FFFFFF;

    --button-primary-color: #B81515;
    --button-seconday-color: #8F0101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}